/*
Colors used

Text Color: #000;
Primary Color: #213fff;
Settings: Base RGB (213FFF), Dist (30°), Hue (249°), Shiny
Secondary Color: #6a19ff;
Tertiary Color: #0bb6ff;
*/

:root {
  /* Colors */
  --text-color: #000;
  --primary-color: #213fff;
  --primary-color-darker: #001595;
  --secondary-color: #6a19ff;
  --tertiary-color: #0bb6ff;
  --white: #fff;
  --lightgrey: #e9e9e9;
  --darkgrey: #545454;
  --sun-color-one: #edc655;
  --sun-color-two: #fcffad;
  --sun-color-three: #f76414;

  /* Icon and image sizes */
  --icon-size: 30px;

  /* Screen sizes */
  --small-screen: 500px;
  --medium-screen: 800px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 42px;
  font-weight: 900;
}

h2 {
  font-family: 'Roboto Slab';
  font-size: 26px;
  font-weight: 500;
}

a {
  color: var(--primary-color);
}

a:visited {
  /* Visited link */
  color: var(--secondary-color);
}

a:hover,
a:focus {
  /* Remove underlining when hovering over link */
  text-decoration: none;
}

a:active {
  /* Selected link */
  color: var(--primary-color-darker);
}

.button {
  /* Overwrite browser defaults & reset border */
  border: none;

  /* Take font from outer container */
  font-family: inherit;

  /* Button styling */
  background-color: var(--primary-color);
  text-align: center;

  /* Added important to overwrite <a> settings in any case for a link/button element */
  color: var(--white) !important;
  text-decoration: none;

  /* Spacing */
  padding: 10px;
  border-radius: 3px;

  /* New border */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

.button:hover,
.button:focus {
  /* Mouse as Hand */
  cursor: pointer;
  opacity: 0.8;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 2px solid var(--lightgrey);
}

.page-header__item {
  flex: 0 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header__logo {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.page-header__item:last-child {
  justify-content: flex-end;
  flex-grow: 1;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
}

.navigation-list li {
  display: inline-block;
  margin-left: 25px;
}

.navigation-list__item,
.navigation-list__item--active {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

.navigation-list__item::after {
  display: block;
  content: '';
  border-bottom: 3px solid var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.navigation-list__item:hover::after {
  transform: scaleX(1);
}

.navigation-list__item:visited,
.navigation-list__item--active:visited {
  color: var(--primary-color);
}

.navigation-list li .navigation-list__item--active {
  color: var(--primary-color-darker);
  font-weight: 600;
}

.page-header .icon {
  display: none;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px - 95px);
  padding: 10px 50px;
}

.profile__info-wrapper i {
  min-width: 25px;
  text-align: center;
}

.profile__portrait {
  width: 100%;
  max-width: 300px;
  margin-right: 10vw;
  border-radius: 10px;
  box-shadow: -35px 25px 4px 0px rgba(0,0,0,0.75);
}

#contact-form {
  margin-bottom: 50px;
}

#contact-form .label-container {
  font-size: 18px;
  margin-bottom: 8px;
}

#contact-form input,
#contact-form textarea {
  /* Layout */
  min-width: 400px;
  margin-bottom: 25px;
  line-height: 1.25;
  padding: 10px;

  /* Interaction */
  border: 2px solid var(--lightgrey);
  border-radius: 3px;
  outline: none;
  transition: 0.2s all;
}

#contact-form input:hover,
#contact-form textarea:hover {
  border-color: var(--primary-color);
}

#contact-form input:focus,
#contact-form textarea:focus {
  border: 3px solid var(--primary-color-darker);
}

#contact-form .row:last-child {
  text-align: center;
}

.contact-data {
  min-width: 400px;
}

.contact-data span {
  font-weight: 700;
  margin-right: 5px;
}

.error-message {
  border: 2px solid #f00;
  border-radius: 2px;
  padding: 4px;
  margin-bottom: 10px;
}

.work h1 {
  margin: 0 50px;
}

/* start grid fallback */

.work {
  width: 100%;
  padding: 0 10px;
}

.grid__item {
  display: inline-block;
  width: 33%;
  padding: 10px;
  border-radius: 3px;
}

/* end grid fallback */

@supports (display: grid) {
  .work {
    width: initial;
    padding: unset;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 50px;
  }

  .grid__item {
    background-color: var(--lightgrey);
    width: auto;
    min-height: auto;
    margin: 0;
  }
}

#cv-link {
  display: block;
  width: 100%;
  max-width: 150px;
  margin: 20px auto;
}

table {
  margin: auto;
  text-align: left;
  border-spacing: 10px;
}

th,
td {
  padding: 0 30px;
}

.berlin-illustration {
  width: 100%;
  max-height: 440px;
}

.cloud-back {
  animation: 50s cloud-move-reverse infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media__icon {
  height: var(--icon-size);
  width: var(--icon-size);
  margin: 0 5px;
}

@media all and (max-width: 500px) {
  .profile > *:not(img) {
    clear: both;
    padding: 0 20px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  #contact-form input,
  #contact-form textarea {
    /* Layout */
    min-width: 300px;
  }

  .contact-data {
    min-width: 300px;
  }
}

@media all and (min-width: 500px) and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 800px) {
  .page-header .icon {
    color: #000;
    display: inline-block;
    font-size: 30px;
    max-width: 30px;
  }

  .navigation-list {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    height: calc(100vh - 70px);
    background-color: white;
  }

  .navigation-list li {
    flex: 1 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .navigation-list__item,
  .navigation-list__item--active {
    font-size: 40px;
  }

  h1 {
    font-size: 22px;
  }

  .flex-wrapper {
    padding: 10px 20px;
  }

  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  table {
    margin: 0 auto;
    text-align: left;
    border-spacing: 2px;
  }

  th,
  td {
    padding: 0;
  }

  .berlin-illustration {
    max-width: 400px;
    max-height: 400px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--sun-color-one);
  }

  50% {
    fill: var(--sun-color-two);
  }

  100% {
    fill: var(--sun-color-three);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}
