/*
Colors used

Text Color: #000;
Primary Color: #213fff;
Settings: Base RGB (213FFF), Dist (30°), Hue (249°), Shiny
Secondary Color: #6a19ff;
Tertiary Color: #0bb6ff;
*/

:root {
  /* Colors */
  --text-color: #000;
  --primary-color: #213fff;
  --primary-color-darker: #001595;
  --secondary-color: #6a19ff;
  --tertiary-color: #0bb6ff;
  --white: #fff;
  --lightgrey: #e9e9e9;
  --darkgrey: #545454;
  --sun-color-one: #edc655;
  --sun-color-two: #fcffad;
  --sun-color-three: #f76414;

  /* Icon and image sizes */
  --icon-size: 30px;

  /* Screen sizes */
  --small-screen: 500px;
  --medium-screen: 800px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  padding: 80px 10% 150px 10%;
}

h1 {
  font-size: 42px;
  font-weight: 900;
}

h2 {
  font-family: "Roboto Slab";
  font-size: 26px;
  font-weight: 500;
  margin: 150px 0 100px 0;
}

a {
  color: var(--primary-color);
}

a:visited {
  /* Visited link */
  color: var(--secondary-color);
}

a:hover,
a:focus {
  /* Remove underlining when hovering over link */
  text-decoration: none;
}

a:active {
  /* Selected link */
  color: var(--primary-color-darker);
}

.button {
  /* Overwrite browser defaults & reset border */
  border: none;

  /* Take font from outer container */
  font-family: inherit;

  /* Button styling */
  background-color: var(--primary-color);
  text-align: center;

  /* Added important to overwrite <a> settings in any case for a link/button element */
  color: var(--white) !important;
  text-decoration: none;

  /* Spacing */
  padding: 10px;
  border-radius: 3px;

  /* New border */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

.button:hover,
.button:focus {
  /* Mouse as Hand */
  cursor: pointer;
  opacity: 0.8;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 2px solid var(--lightgrey);
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 99;
}

.page-header__item {
  flex: 0 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header__logo {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.page-header__item:last-child {
  justify-content: flex-end;
  flex-grow: 1;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
}

.navigation-list li {
  display: inline-block;
  margin-left: 25px;
}

.navigation-list__item,
.navigation-list__item--active {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

.navigation-list__item::after {
  display: block;
  content: "";
  border-bottom: 3px solid var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.navigation-list__item:hover::after {
  transform: scaleX(1);
}

.navigation-list__item:visited,
.navigation-list__item--active:visited {
  color: var(--primary-color);
}

.navigation-list li .navigation-list__item--active {
  color: var(--primary-color-darker);
  font-weight: 600;
}

.page-header .icon {
  display: none;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px - 95px);
  padding: 10px 50px;
}

.profile__info-wrapper i {
  min-width: 25px;
  text-align: center;
}

.profile__portrait {
  width: 100%;
  max-width: 300px;
  margin-right: 10vw;
  border-radius: 10px;
  box-shadow: -35px 25px 4px 0px rgba(0, 0, 0, 0.75);
}

.cv {
  display: flex;
  flex-direction: row;
}

.cv-pictures {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-pictures__images {
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  height: 300px;
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: -35px 25px 4px 0px rgba(0, 0, 0, 0.75);
}

.cv-pictures__images img {
  width: 100%;
  max-width: 600px;
  transition: 0.3s cubic-bezier(0.79, 0.03, 0, 0.99);
  object-fit: cover;
}

.cv-pictures__buttons {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.cv-pictures__buttons > div {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.219);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.cv-pictures__buttons > div:first-child {
  border-radius: 0 5px 5px 0;
  margin-left: -100px;
}

.cv-pictures__buttons > div:last-child {
  border-radius: 5px 0 0 5px;
  margin-right: -100px;
}

.cv-pictures:hover .cv-pictures__buttons > div:first-child {
  margin-left: 0;
}

.cv-pictures:hover .cv-pictures__buttons > div:last-child {
  margin-right: 0;
}

.cv-pictures__buttons div:hover:not(div.disabled) {
  background-color: rgba(135, 207, 235, 0.493);
}

.cv-pictures__buttons div:not(div.disabled):active {
  opacity: 0.7;
}

.cv-pictures__buttons > div.disabled {
  cursor: no-drop;
  opacity: 0.3;
}

.cv-pictures__buttons div i {
  font-size: 70px;
}

.cv-pictures__pagination {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.cv-pictures__pagination span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 5px;
  transform: scale(0.5);
  transition: 0.3s ease-in-out;
  opacity: 0.4;
}

.cv-pictures__pagination span.active {
  transform: scale(1);
  opacity: 1;
}

.cv-stations {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  margin-top: 50px;
}

.cv-stations__station {
  font: "Roboto Slab";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.cv-stations__station span {
  font-weight: 700;
  color: var(--primary-color-darker);
}

.my-work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}

.my-work__card {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "leftsection leftsection rightsection"
    "links links links";
  border-radius: 10px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  max-width: 860px;
  row-gap: 50px;
}

.my-work__card h3 {
  grid-area: header;
}

.my-work__card .image-container {
  grid-area: leftsection;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "main-image"
    "tech-logos";
}

.main-work-image {
  grid-area: main-image;
  width: 100%;
  max-width: 300px;
  max-height: 200px;
  margin: 0 auto 20px auto;
  object-fit: contain;
}

.tech-logos {
  grid-area: tech-logos;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tech-logo {
  height: 100%;
  max-height: 32px;
}

.my-work__card .info-container {
  grid-area: rightsection;
}

.my-work__card .info-links {
  grid-area: links;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.my-work__card .info-links i {
  font-size: 16px;
  margin-right: 5px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #fff;
}

.social-media__icon {
  height: var(--icon-size);
  width: var(--icon-size);
  margin: 0 5px;
}

@media all and (max-width: 800px) {
  .page-header .icon {
    color: #000;
    display: inline-block;
    font-size: 30px;
    max-width: 30px;
  }

  .navigation-list {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    height: calc(100vh - 70px);
    background-color: white;
  }

  .navigation-list li {
    flex: 1 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .navigation-list__item,
  .navigation-list__item--active {
    font-size: 40px;
  }

  main {
    padding: 80 5% 100px 5%;
  }

  h1 {
    font-size: 22px;
  }

  .hero {
    flex-direction: column;
  }

  .profile__portrait {
    margin-right: 0;
    max-width: 200px;
    margin-bottom: 50px;
  }

  .cv {
    flex-direction: column;
  }

  .cv-pictures__pagination {
    top: 90%;
  }

  .cv-stations {
    margin-left: 0;
  }

  .my-work__card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "leftsection"
      "rightsection"
      "links";
    row-gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    max-width: 860px;
  }
  
  .my-work__card .info-links {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}